.app-layout {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom right, white, #96d9f0);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.app-body {
    width: 100%;
    display: flex;
}

.app-main {
    width: 78vw;
    height: 97vh;
    position: absolute;
    right: 0;
    padding: 1.5vw;
    padding-left: 0;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-radius: 1vw;
    z-index: 0;
    @media (max-width: 432px) {
        width: 100%;
        padding-left: 1.5vw;
    }
}
.app-sidebar {
    width: 22vw;
    position: absolute;
    left: 0;
    padding: 1.5vw;
    overflow: visible;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-radius: 1vw;

    @media (max-width: 432px) {
    display: none;
  }
}

.login-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #f0f4f8, #96d9f0);
}
