* {
  box-sizing: border-box;
}

.register-form {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #d9d9d9;
  padding: 3rem;
  border-radius: 1rem;
  background-color: rgb(244, 235, 224);

  .ant-form-item {
    margin-bottom: 16px;
  }

  .ant-btn {
    width: 100%;
  }
}
